<?xml version="1.0"?>
<robot name="kimm_wheel_legged_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find kimm_wheel_legged_robot_description)/urdf/kimm_wheel_legged_robot_drive.urdf"/>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>
  
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find kimm_wheel_legged_robot_bringup)/config/diff_drive_controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>